spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://172.17.2.58:13307/${mysql.db-name}?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=Asia/Shanghai&stringtype=unspecified
    username: jzo2o
    password: 9kdyOmpp
    hikari:
      # 数据库连接URL
#      jdbc-url: jdbc:mysql://localhost:3306/${mysql.db-name}?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=Asia/Shanghai&stringtype=unspecified
#      # 用户名
#      username: root
#      # 密码
#      password: mysql
      # 连接池名称
      pool-name: MyHikariPool
      # 数据库驱动类名，Spring Boot通常可以根据url自动识别，但如果需要也可以在这里指定
      driver-class-name: com.mysql.cj.jdbc.Driver
      # 最小空闲连接数量
      minimum-idle: 5
      # 连接池最大连接数
      maximum-pool-size: 10
      # 连接超时时间（毫秒），超过这个时间仍未从连接池获取到连接，则抛出异常
      connection-timeout: 30000
      # 连接最大生存时间（毫秒），超过这个时间则关闭连接
      idle-timeout: 600000
      # 是否自动提交事务，默认为true
      auto-commit: true
      # 等待连接池分配连接的最大时长（毫秒）
      max-lifetime: 1800000
      # 连接测试查询语句
      connection-test-query: SELECT 1
  redis:
    host: 172.17.0.170
    port: 6379
    password: itheima
    lettuce:
      pool:
        # 连接池最大连接数（使用负值表示没有限制） 默认 8
        max-active: 200
        # 连接池最大阻塞等待时间（使用负值表示没有限制） 默认 -1
        max-wait: 20
        # 连接池中的最大空闲连接 默认 8
        max-idle: 10
        # 连接池中的最小空闲连接 默认 8
        min-idle: 8
  rabbitmq:
    host: 172.17.2.58
    username: jzo2o
    password: xxUrKsnpcDiI8blr
    port: 5672
    virtual-host: /jzo2o
    publisher-confirm-type: correlated #发送消息的异步回调，记录消息是否发送成功
    publisher-returns: true #开启publish-return功能，消息到达交换机，但是没有到达对列表
    template:
      #消息路由失败时的策略, true: 调用ReturnCallback, false：丢弃消息
      mandatory: true
    listener:
      simple:
        acknowledge-mode: auto #，出现异常时返回nack，消息回滚到mq；没有异常，返回ack
        retry:
          enabled: true # 开启消费者失败重试
          initial-interval: 1000 # 初识的失败等待时长为1秒
          multiplier: 10 # 失败的等待时长倍数，下次等待时长 = multiplier * last-interval
          max-attempts: 90000 # 最大重试次数
          stateless: true # true无状态；false有状态。如果业务中包含事务，这里改为false
mybatis-plus:
  configuration:
    default-enum-type-handler: com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler
  page:
    max-limit: 1000
  global-config:
    field-strategy: 0
    db-config:
      logic-delete-field: isDeleted
      id-type: assign_id

jzo2o:
  es:
    host: 172.17.2.58
    port: 9200
rabbit-mq:
  enable: true
trade:
  url: http://172.17.2.58:11505/trade
#################     日志配置     #################
logging:
  level:
    com.jzo2o.mall: debug
    org.apache.http: info #es请求日志
#feign:
#  enable: true
